.home-wrap header {
	width: 135px;
	background: white;
	padding: 30px 0;
}

.home-wrap header .header-position {
	position: fixed;
	top: 30px;
	left: 0;
	bottom: 30px;
	width: 135px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-wrap header a {
	color: #999;
}

.home-wrap header a:hover, .home-wrap header a:active {
	color: #666;
}

.home-wrap header .logo {
	max-width: 135px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 135px;
	padding: 0;
	margin: 0;
}

.home-wrap header .site-nav ul {
	list-style: none;
	margin: 20px 0;
	padding: 0 20px 0 0;
	text-align: right;
}

.home-wrap header .site-nav li {
	margin-bottom: 10px;
}

.home-wrap header .site-nav li:last-child {
	margin-bottom: 0;
}

.home-wrap header .email-link {
	display: block;
	text-align: right;
	padding-right: 20px;
}

.home-wrap header .mobile-nav-toggle {
	display: none;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	align-items: center;
	cursor: pointer;
}

.home-wrap header .mobile-nav-toggle:selection {
	background: transparent;
}

.home-wrap header .mobile-nav-toggle:-moz-selection {
	background: transparent;
}

.home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span:before,
    .home-wrap header .mobile-nav-toggle span:after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background: #333;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.home-wrap header .mobile-nav-toggle span:before {
	top: 15px;
}

.home-wrap header .mobile-nav-toggle span:after {
	top: -17px;
}

.home-wrap header .mobile-nav-toggle.is-open span {
	background: transparent;
}

.home-wrap header .mobile-nav-toggle.is-open span:before,
    .home-wrap header .mobile-nav-toggle.is-open span:after {
	transform-origin: center;
	transform: rotate(45deg);
	top: 0;
}

.home-wrap header .mobile-nav-toggle.is-open span:before {
	transform: rotate(-45deg);
}

.home-wrap .mobile-nav {
	display: none;
	position: absolute;
	width: 100%;
	background: white;
	padding: 30px 0 20px;
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
}

.home-wrap .mobile-nav a {
	color: #999;
}

.home-wrap .mobile-nav a:hover, .home-wrap .mobile-nav a:active {
	color: #666;
}

.home-wrap .mobile-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.home-wrap .mobile-nav li {
	text-align: center;
	margin-bottom: 10px;
}

@media (max-width: 775px) {
	.home-wrap header {
		width: auto;
		padding: 20px 0;
	}

	.home-wrap header .header-position {
		width: auto;
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		flex-direction: row;
		align-items: center;
	}

	.home-wrap header .site-nav,
    .home-wrap header .email-link {
		display: none;
	}

	.home-wrap header .logo {
		height: 45px;
	}

	.home-wrap header .mobile-nav-toggle {
		display: flex;
	}

	.home-wrap .mobile-nav.is-open {
		display: block;
		transform: translateY(0%);
	}
}